// settings in this file will override those defined in the xcode project

// - deployment -
INSTALL_MODE_FLAG = u+w,go-w,a+rX
MACOSX_DEPLOYMENT_TARGET = 
DSTROOT = ../../
INSTALL_PATH = /bin
SKIP_INSTALL = NO

// - build locations -
SYMROOT = build
OBJROOT = $(SYMROOT)

// - architectures -
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT =

// - build options -
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

