#include "Common.xcconfig"


// build options
VALIDATE_PRODUCT = YES


// code signing
CODE_SIGN_IDENTITY = Developer ID Application: Travis Tilley


// deployment
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
DEPLOYMENT_POSTPROCESSING = YES


// code generation
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_OPTIMIZATION_LEVEL = 3
GCC_UNROLL_LOOPS = YES


// preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(COMMON_GCC_PREPROCESSOR_DEFINITIONS) NDEBUG
