<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
#include "fsevent_watch/defines.h"
-->
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>fsevent_watch</string>
    <key>CFBundleIdentifier</key>
    <string>com.teaspoonofinsanity.fsevent_watch</string>
    <key>CFBundleName</key>
    <string>fsevent_watch</string>
    <key>CFBundleVersion</key>
    <string>PROJECT_VERSION</string>
    <key>LSMinimumSystemVersion</key>
    <string>MACOSX_DEPLOYMENT_TARGET</string>
    <key>DTSDKBuild</key>
    <string>SDK_PRODUCT_BUILD_VERSION</string>
    <key>DTSDKName</key>
    <string>SDK_NAME</string>
    <key>BuildMachineOSBuild</key>
    <string>MAC_OS_X_PRODUCT_BUILD_VERSION</string>
    <key>BuildMachineOSVersion</key>
    <string>MAC_OS_X_VERSION_ACTUAL</string>
    <key>FSEWCompiledAt</key>
    <string>COMPILED_AT</string>
    <key>FSEWCompiler</key>
    <string>COMPILER</string>
    <key>FSEWCompilerVersion</key>
    <string>__VERSION__</string>
    <key>FSEWCompilerTargetCPU</key>
    <string>TARGET_CPU</string>
    <key>FSEWOptimizationLevel</key>
    <string>OPTIMIZATION_LEVEL</string>
    <key>FSEWVersionInfoBuilder</key>
    <string>VERSION_INFO_BUILDER</string>
    <key>SystemVersionMaxAllowed</key>
    <string>__ENVIRONMENT_MAC_OS_X_VERSION_MIN_REQUIRED__</string>
  </dict>
</plist>
